// colours
$default-color: #5D5D5D;
$color-primary: #CF6A6B; // font-familly
$color-hover: #6A528C;
$poppins: "Poppins",
sans-serif;
$quicksand: "Quicksand",
sans-serif;
$opensans: "Open Sans",
sans-serif;