@import "./custom-functions";
@import "./custom-variables";
@import "./custom-mixins";
@import "./burger-menu";
@import "./custom-styles";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Quicksand&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  font-family: $poppins;
  font-size: 14px;
  color: $default-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 15px;
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 15px;
}

h1 {
  font-size: 45px;

  @media(max-width:991px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 40px;

  @media(max-width:991px) {
    font-size: 32px;
  }
}

h3 {
  font-size: 35px;

  @media(max-width:991px) {
    font-size: 27px;
  }
}

h4 {
  font-size: 30px;

  @media(max-width:991px) {
    font-size: 24px;
  }
}



ul {
  padding: 0 0 0 20px;
  margin: 0;

  li {
    list-style: none;
    padding-left: 3px;
    margin-bottom: 15px;
  }
}

a {
  color: #CF6A6B;
  transition: .2s linear;


  &:hover {
    color: $color-hover;
    text-decoration: none;
  }
}


.grecaptcha-badge {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
}




.container {
  max-width: 1280px;
  width: 100%;


  @media(max-width: 1270px) {
    padding: 0 50px;
  }

  @media(max-width:991px) {
    padding: 0 30px;
  }

  @media(max-width:576px) {
    padding: 0 15px;
  }
}


// CF7
.wpcf7 .wpcf7-submit:disabled {
  cursor: not-allowed;
  opacity: .4;
}


input.btn {
  padding: 8px 43px;
  border: 1px solid $color-primary;
  color: #FFFFFF;
  border-radius: 25px;
  transition: .2s linear;
  font-size: 18px;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  transition: .2s linear;


  @media(max-width:767px) {
    font-size: 14px;
    padding: 8px 25px;
  }

  &:hover {
    background-color: #FFFFFF;
    color: $color-primary;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media(max-width:576px) {
    flex-direction: column;
  }

  a.btn {
    padding: 8px 43px;
    border: 1px solid $color-primary;
    color: #FFFFFF;
    border-radius: 25px;
    transition: .2s linear;
    font-size: 18px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    @media(max-width:767px) {
      margin: 10px auto;
      font-size: 14px;
      padding: 8px 25px;
    }

    // @media(max-width:576px) {
    //   width: 100%;
    // }

    &:hover {
      background-color: $color-hover;
      border: 1px solid $color-hover;
      box-shadow: 0 0 30px rgba(106, 82, 140, 0.7);
    }

    &.btn-transparent {
      border: 1px solid #FFFFFF;
      background-color: transparent;

      &:hover {
        background-color: $color-hover;
        border: 1px solid $color-hover;
        box-shadow: 0 0 30px rgba(106, 82, 140, 0.7);
      }
    }

    &.btn-white {
      background-color: #FFFFFF;
      color: $color-primary;


      &:hover {
        background-color: $color-hover;
        color: #FFFFFF;
      }
    }



  }

  &.btn-right {
    width: 100%;
    justify-content: flex-end;

    @media(max-width:991px) {
      justify-content: center;
    }

    a.btn {
      padding: 4px 15px;
      font-size: 14px;
      min-width: 183px;
    }
  }


  &.btn-wrapper-seo {
    justify-content: center;

    a.btn {
      margin: 0 12.5px;
      padding: 4px 15px;
      font-size: 14px;
      min-width: 211px;

      @media(max-width:576px) {
        margin: 10px 0;
      }
    }
  }

}




.hero {
  margin-bottom: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 0;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: 65%;
  }

  .bg-slide {
    display: flex;
    align-items: center;
    height: 100%;

    .text-wrapper-hero {
      max-width: 567px;
      margin-top: 100px;

      @media(max-width:767px) {
        max-width: 100%;
        margin-top: 0;
      }

      h1,
      h2,
      p {
        color: #FFFFFF;
      }

      h1,
      h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 27px;

        @media(max-width:767px) {
          font-size: 32px;
          text-align: center;
        }

        @media(max-width:576px) {
          font-size: 27px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 55px;
        max-width: 435px;

        @media(max-width:767px) {
          font-size: 18px;
          text-align: center;
          max-width: 100%;
        }

        @media(max-width:576px) {
          font-size: 14px;
        }

      }

      .btn-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a.btn {
          min-width: 270px;

          @media(max-width:1199px) {
            min-width: 235px;
          }

          @media(max-width:576px) {
            padding: 4px 15px;
            font-size: 14px;
            min-width: 183px;
          }
        }
      }
    }

    .scroll-down {
      position: absolute;
      bottom: 63px;
      left: 50%;
      transform: translateX(-50%);
      width: 14.5px;
      height: 7.35px;

      img {
        animation: bounce-scroll 2.1s linear infinite;
        max-width: 14.5px;
      }

      // animate arrow
      @keyframes bounce-scroll {
        0% {
          transform: translateY(0);
        }

        10% {
          transform: translateY(0);
        }

        30% {
          transform: translateY(10px);
        }

        50% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(0);
        }
      }
    }

    ul.list_category_link {
      padding: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 30px;
      width: 100%;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);

      @media(max-width: 767px) {
        display: none;
      }

      li {
        margin-bottom: 0;

        a {
          color: #FFFFFF;
          font-size: 14px;
          font-family: $quicksand;
          padding: 5px 20px;
          transition: .2s linear;
          position: relative;


          &:hover {
            color: $color-primary;
          }

          @media(max-width: 1199px) {
            font-size: 13px;
            padding: 5px 10px;
          }

          @media(max-width: 991px) {
            font-size: 12px;
            padding: 5px 8px;
          }

          &:after {
            content: '';
            height: 10px;
            width: 1px;
            background-color: #FFFFFF;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &:last-child {
          a {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}


section.repeater-primary-home {
  padding-top: 55px;
  position: relative;

  .head-wrapper {
    max-width: 870px;
    margin: 0 auto 55px;
    // text-align: center;

    @media(max-width: 991px) {
      margin-bottom: 30px;
    }

    h1,
    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 26px;
      text-align: center;


      @media(max-width:1199px) {
        margin-bottom: 20px;
      }

      @media(max-width:991px) {
        font-size: 30px;
        margin-bottom: 15px;
      }

      @media(max-width:576px) {
        font-size: 27px;
      }
    }

    &.bottom {
      max-width: 1060px;
    }

    &.full-width {
      max-width: 100%;
    }

    ul {
      li {
        list-style-type: disc;
      }
    }

  }

  .block-two-images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    @media(max-width:991px) {
      flex-direction: column;
    }

    .column-left {
      width: 30%;

      @media(max-width:991px) {
        display: none;
      }

      img {
        box-shadow: 0 3px 6px #00000016;
      }
    }

    .column-right {
      width: 70%;

      @media(max-width:991px) {
        width: 100%;
      }

      h4 {
        font-size: 14px;
        color: $color-primary;
        margin-bottom: 6px;
        font-family: $quicksand;
        padding-left: 30px;

        @media(max-width:1199px) {
          padding-left: 15px;
        }

        @media(max-width:991px) {
          padding-left: 0;
          text-align: center;
        }

      }

      h3 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 45px;
        padding-left: 30px;

        @media(max-width:1199px) {
          margin-bottom: 20px;
          padding-left: 15px;
        }


        @media(max-width:991px) {
          font-size: 30px;
          margin-bottom: 15px;
          padding-left: 0;
          text-align: center;
        }

        @media(max-width:576px) {
          font-size: 27px;
        }
      }

      .column-right-wrapper {
        display: flex;
        align-items: flex-start;
        margin-left: -57px;
        width: calc(100% + 57px);


        @media(max-width:991px) {
          width: 100%;
          margin-left: 0;
          flex-direction: column;
        }

        .column-left-img {
          width: 40%;

          img {
            border: 10px solid #ffffff;
            box-shadow: 0 3px 6px #00000016;
          }

          @media(max-width:991px) {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
          }
        }

        .column-right-text {
          width: 60%;

          @media(max-width:991px) {
            width: 100%;
          }

          p {
            padding-left: 30px;
            font-size: 14px;

            @media(max-width:1199px) {
              padding-left: 15px;
            }

            @media(max-width:991px) {
              padding-left: 0;
            }
          }

          .btn-wrapper {
            padding-left: 100px;
            justify-content: flex-end;
            margin-top: 40px;

            @media(max-width:1260px) {
              margin-top: 20px;
            }

            @media(max-width:1199px) {
              flex-direction: row;
              padding-left: 0;
            }

            @media(max-width:991px) {
              margin: 30px auto 0;
              justify-content: center;
            }

            a.btn {
              padding: 4px 15px;
              font-size: 14px;
              min-width: 183px;

              &.btn-white {
                margin-left: 35px;
                background-color: #FFFFFF;
                color: $color-primary;

                @media(max-width:1220px) {
                  margin-left: 15px;
                }

                @media(max-width:767px) {
                  margin: 10px auto;
                }

                &:hover {
                  background-color: $color-hover;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }

    }
  }

  &.bg-grey {
    background-color: rgba(93, 93, 93, .05);
  }

  .images-repeater-odd-even {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;

    &:last-child {
      margin-bottom: 40px;
    }

    @media(max-width:991px) {
      flex-direction: column-reverse;
    }

    .column-left_odd_even,
    .column-right_odd_even {
      width: 50%;

      @media(max-width:991px) {
        width: 100%;
      }
    }


    .column-left_odd_even {
      margin-right: 15px;

      h4 {
        font-size: 14px;
        color: $color-primary;
        margin-bottom: 6px;
        font-family: $quicksand;
      }

      h3 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 13px;

        @media(max-width:1199px) {
          // margin-bottom: 20px;
        }

        @media(max-width:991px) {
          font-size: 30px;
          // margin-bottom: 15px;
        }

        @media(max-width:576px) {
          font-size: 27px;
        }
      }

      .excerpt {
        p {
          font-size: 14px;
          margin-bottom: 28px;
        }
      }

      .btn-wrapper {
        padding-right: 60px;

        @media(max-width:1125px) {
          padding-right: 30px;
        }

        @media(max-width:1070px) {
          padding-right: 15px;
        }

        @media(max-width:1030px) {
          padding-right: 0;
        }

        a.btn {
          padding: 4px 15px;
          font-size: 14px;
          min-width: 211px;
        }
      }
    }

    .column-right_odd_even {
      margin-left: 15px;

      @media(max-width:991px) {
        margin-left: 0;
      }

      a.img-content {
        width: 100%;
        max-width: 515px;
        height: 361px;
        display: block;

        @media(max-width:991px) {
          margin: 0 auto 15px;
        }

        img {
          object-fit: cover;
          object-position: top center;
          width: 100%;
          height: 100%;

          @media(max-width:991px) {
            margin: 0 auto 30px;
            display: block;
          }
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;

      @media(max-width:991px) {
        flex-direction: column-reverse;
      }

      .column-right_odd_even {
        margin-left: 0;
        margin-right: 15px;

        @media(max-width:991px) {
          margin-top: 0;
        }
      }

      .column-left_odd_even {
        margin-right: 0;
        margin-left: 15px;

        @media(max-width:991px) {
          margin-left: 0;
        }
      }
    }

    // Lewo prawo z ramką - zaczynamy zdjęciem z lewej
    &.enable-border-img-left-right {
      flex-direction: row-reverse;
      max-width: 1170px;


      @media(max-width: 991px) {
        flex-direction: column-reverse;
      }

      .column-right_odd_even {
        margin-left: 0;

        a.img-content {
          max-width: 624px;
          height: 433px;

          img {
            border: 10px solid #ffffff;
            box-shadow: 0 3px 6px #00000016;
          }
        }
      }

      .column-left_odd_even {
        margin-right: 0;
        padding-right: 50px;
        padding-top: 45px;
        padding-left: 30px;

        @media(max-width: 1270px) {
          padding-right: 0;
        }

        @media(max-width: 991px) {
          padding-left: 0;
          padding-top: 15px;
        }

        .btn-wrapper {
          padding-right: 0;
          justify-content: flex-end;

          a.btn {
            @media(max-width:1035px) {
              min-width: 180px;
            }

            &.btn-white {
              margin-left: 36px;

              @media(max-width:1199px) {
                margin-left: 15px;
              }

              // @media(max-width:991px) {
              //   margin-left: 0;
              // }

              @media(max-width:767px) {
                margin: 10px auto;
              }

            }
          }
        }

      }

      &:nth-child(odd) {
        flex-direction: row;

        @media(max-width:991px) {
          flex-direction: column-reverse;
        }
      }

    }
  }

  // section seo and image
  .img-wrapper-seo {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto 30px;
    position: relative;
    height: 589px;

    @media(max-width:576px) {
      height: 425px;
    }

    img {
      position: absolute;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .text-content {
      width: 100%;
      height: 100%;
      padding: 20px 25px;

      @media(max-width:991px) {
        padding: 15px;
      }

      h4,
      span.text-button {
        color: #ffffff;
      }

      h4 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 7px;


        @media(max-width:991px) {
          font-size: 30px;
        }

        @media(max-width:576px) {
          font-size: 27px;
        }

        @media(max-width:4506px) {
          font-size: 23px;
        }
      }

      span.text-button {
        font-size: 14px;
        font-family: $quicksand;
      }
    }

  }

  .img-wrapper-big-picture-bg {
    width: 100%;
    height: 927px;
    position: relative;

    @media(max-width: 991px) {
      height: 700px;
    }

    .text-wrapper-bg {
      width: 100%;
      max-width: 1270px;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      display: flex;
      align-items: center;

      .column-for-right {
        width: 50%;
        margin-left: auto;
        text-align: right;
        color: #FFFFFF;
        padding-right: 15px;




        @media(max-width: 1270px) {
          padding: 0 50px;
        }

        @media(max-width: 1199px) {
          width: 70%;
        }

        @media(max-width: 991px) {
          width: 100%;
          padding: 0 30px;
          text-align: center;
        }

        @media(max-width:576px) {
          padding: 0 15px;
        }

        h2 {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 30px;

          @media(max-width: 991px) {
            font-size: 27px;
          }

          @media(max-width: 576px) {
            font-size: 23px;
          }
        }

        p {
          font-size: 14px;
          margin-bottom: 30px;
        }
      }
    }

    img.img-width-100 {
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: center;
      object-position: 32%;
    }
  }




  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;

    @media(max-width: 991px) {
      justify-content: space-between;
    }

    .column-post {
      position: relative;
      z-index: 1;
      width: calc(33.33% - 20px);
      margin-bottom: 30px;
      transition: .4s linear;

      @media(max-width:1199px) {
        width: calc(33.33% - 15px);
      }

      @media(max-width:991px) {
        width: calc(50% - 8px);
        margin-bottom: 15px;
      }

      @media(max-width:576px) {
        width: 100%;
      }



      &:nth-child(3n+2) {
        margin-left: 30px;
        margin-right: 30px;

        @media(max-width:1199px) {
          margin-left: 15px;
          margin-right: 15px;
        }

        @media(max-width:991px) {
          margin-right: 0;
          margin-left: 0;
        }
      }

      .post-img {
        width: 100%;
        height: 350px;
        margin-bottom: 15px;

        img.wp-post-image {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: center;
        }
      }

      h4 {
        font-size: 14px;
        color: $color-primary;
        font-family: $quicksand;
        margin-bottom: 5px;

        @media(max-width: 767px) {
          font-size: 12px;
        }
      }

      a {
        .blog-title-area {
          min-height: 70px;

          @media(max-width: 1280px) {
            min-height: 63px;
          }

          @media(max-width: 1199px) {
            min-height: 54px;
          }

          @media(max-width: 576px) {
            min-height: auto;
          }

          h3 {
            font-size: 25px;
            margin-bottom: 10px;
            color: $default-color;
            font-weight: 700;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media(max-width: 1280px) {
              font-size: 22px;
            }

            @media(max-width: 1199px) {
              font-size: 18px;
            }

            @media(max-width: 767px) {
              font-size: 16px;
            }

            @media(max-width: 576px) {
              font-size: 22px;
            }
          }
        }

        .blog_post-description {
          margin-bottom: 30px;

          p {
            font-size: 14px;
            color: $default-color;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
          }
        }

        span.read-more {
          display: block;
          width: 100%;
          text-align: right;
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }


  .block-repeater-wrapper-about {
    margin-bottom: 50px;

    .columns-wrapper-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      @media(max-width:1199px) {
        flex-direction: column;
      }

      .col-left-img {
        width: calc(33% - 20px);
        height: 515px;

        @media(max-width:1199px) {
          width: 100%;
          max-width: 600px;
          margin: 0 auto 30px;
          height: auto;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: bottom;
        }
      }

      .col-right-text {
        width: 69.33%;
        padding-left: 30px;

        @media(max-width:1199px) {
          width: 100%;
          padding-left: 0;
        }

        h4.title-role {
          font-size: 14px;
          color: $color-primary;
          font-family: $quicksand;
          margin-bottom: 15px;

          @media(max-width: 576px) {
            text-align: center;
            margin-bottom: 15px;
          }
        }

        .wrap-titleAnd-sm {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          flex-wrap: wrap;

          h3.name {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 0;
            width: 50%;

            @media(max-width: 576px) {
              width: 100%;
              margin-bottom: 30px;
              text-align: center;
            }
          }


          .sm-icon-wrapper {
            width: 50%;
            display: flex;
            justify-content: flex-end;

            @media(max-width: 576px) {
              width: 100%;
            }

            a {
              margin-left: 20px;
              transition: .2s linear;
              display: inline-block;

              @media(max-width: 576px) {
                margin: 0 auto;
              }

              img {
                width: 18px;
                max-width: 100%;
                height: auto;

              }

              &:hover {
                transform: translateY(-5px);
              }
            }
          }
        }

        .text-field-wyswyg {
          p {
            font-size: 14px;
            margin-bottom: 15px;
          }
        }
      }
    }

    &:nth-child(even) {
      .columns-wrapper-top {
        flex-direction: row-reverse;

        @media(max-width:1199px) {
          flex-direction: column;
        }

        .col-right-text {
          padding-left: 0;
          padding-right: 30px;

          @media(max-width:1199px) {
            padding-right: 0;
          }
        }
      }
    }

  }


}



// Filters

.filter-area {
  .searchandfilter {
    ul {
      li.sf-field-category {
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin-bottom: 80px;

          @media(max-width:1024px) {
            justify-content: center;
            margin-bottom: 40px;
          }

          li.sf-level-0 {
            padding: 0;

            input.sf-input-radio {
              display: none;
              padding: 0;
            }

            label {
              padding: 0;
              cursor: pointer;
              padding: 5px 10px;
              font-size: 14px;
              font-weight: 700;
              color: $color-primary;
              transition: .2s linear;

              @media(max-width:1024px) {
                font-size: 12px;
              }

              &:hover {
                color: $color-hover;
                transform: translateY(-5px);
              }
            }

            &:first-child {
              label {
                padding-left: 0;
              }
            }

            &:last-child {
              label {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
}






footer {
  height: 1250px;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: -125px;


  @media(max-width: 991px) {
    margin-top: -230px;
  }

  @media(max-width: 767px) {
    height: 1410px;
  }

  @media(max-width:460px) {
    height: 1740px;
  }

  .footer-content {
    .cta_footer {
      text-align: center;
      margin-bottom: 120px;

      @media(max-width: 991px) {
        margin-bottom: 45px;
      }

      h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 26px;
        color: #FFFFFF;

        @media(max-width:1199px) {
          margin-bottom: 20px;
        }

        @media(max-width:991px) {
          font-size: 30px;
          margin-bottom: 15px;
        }

        @media(max-width:576px) {
          font-size: 27px;
        }
      }

      p {
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 25px;

      }

      .btn-wrapper {
        justify-content: center;

        a.btn {
          min-width: 210px;
          padding: 3px 15px;
        }
      }
    }


    .footer-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 75px;

      @media(max-width:1199px) {
        justify-content: flex-start;
        margin-bottom: 60px;
      }

      @media(max-width:991px) {
        justify-content: flex-start;
        margin-bottom: 20px;
      }

      @media(max-width:460px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .column-footer-item {
        width: 16.6%;
        padding: 0 15px;

        @media(max-width:1199px) {
          width: 33.33%;
          margin-bottom: 30px;
        }

        @media(max-width:767px) {
          width: 50%;
        }

        @media(max-width: 460px) {
          margin-bottom: 18px;
          width: 100%;
        }





        h4 {
          color: #FFFFFF;
          font-family: $opensans;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 20px;
          text-transform: uppercase;

          @media(max-width:576px) {
            font-size: 12px;
            margin-bottom: 15px;
          }
        }

        ul {
          padding: 0;

          li {
            font-size: 14px;
            font-family: $opensans;
            margin-bottom: 20px;
            color: #FFFFFF;
            padding: 0;

            @media(max-width:576px) {
              font-size: 12px;
              margin-bottom: 15px;
            }

            a {
              color: #FFFFFF;
              transition: .2s linear;

              &:hover {
                color: $color-primary;
              }
            }
          }
        }

        p {
          font-size: 14px;
          font-family: $opensans;
          color: #FFFFFF;

          @media(max-width:576px) {
            font-size: 12px;
            margin-bottom: 15px;
          }
        }

        &:first-child {
          @media(max-width:1199px) {
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }

    .bottom-footer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 35px;

      @media(max-width:1024px) {
        padding-bottom: 80px;
        flex-direction: column;
      }
    }

    .column-left-bottom-footer,
    .column-right-bottom-footer {
      width: 50%;
      color: #FFFFFF;
      font-size: 12px;
      font-family: $opensans;

      @media(max-width:1024px) {
        width: 100%;
      }

      a {
        color: #FFFFFF;
        font-size: 12px;
        font-family: $opensans;
        transition: .2s linear;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .column-left-bottom-footer {
      @media(max-width:1024px) {
        text-align: center;
      }

      span {
        color: red;
      }
    }

    .column-right-bottom-footer {
      text-align: right;

      @media(max-width:1024px) {
        text-align: center;
      }
    }
  }


  .foter-sticky {
    display: none;
    bottom: 0;
    left: 0;
    transform: translateY(70px);
    width: 100%;
    position: fixed;
    transition: 0.3s linear;
    z-index: 999;
    box-shadow: 0 -3px 6px #00000016;
    background: #fff;


    @media(max-width:1024px) {
      display: block;

      .list-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        .column-footer-sticky {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h5 {
            color: $default-color;
            font-size: 14px;
            margin-bottom: 5px;
            text-transform: uppercase;

            @media(max-width:450px) {
              font-size: 12px;
            }
          }

          img {
            height: 25px;
            max-height: 100%;
            width: auto;
          }

          &:hover {
            color: $color-hover;
          }
        }
      }
    }

    &.active {
      transform: translateY(0);
    }

  }

}


// tabela start
.overflowTable {
  padding-bottom: 90px;

  @media(max-width:991px) {
    padding-bottom: 60px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;




    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tr {
      border-bottom: 1px solid #E1E1E1;
      display: flex;
      align-items: center;
      justify-content: center;



      &:first-child {


        th {
          color: #463D36;
          font-size: 30px;
          font-weight: bold;
          font-family: $poppins;
          padding: 0 15px 30px;

          @media(max-width:1024px) {
            font-size: 22px;
          }

          @media(max-width:991px) {
            padding: 0 15px 15px;
          }


          &:first-child {
            opacity: 0;
            color: #e1e1e1;

            @media(max-width:1000px) {
              opacity: 1;
            }



          }
        }


      }

      &:last-child {
        border-bottom: none;
      }

      &:nth-child(2) {
        th {
          color: #C1300D;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;

          // font-family: $quicksand;
          @media(max-width:1024px) {
            font-size: 17px;
          }

          &:first-child {
            color: #463D36;
            font-size: 17px;
            font-weight: normal;
            text-transform: capitalize;
            // font-family: $quicksand;
            display: flex;
            align-items: center;

            @media(max-width:1024px) {
              font-size: 14px;
            }
          }

        }


      }


    }

    th {
      font-size: 17px;
      font-weight: normal;
      color: #463D36;
      // font-family: $corbel;
      text-align: center;
      width: 100%;
      padding: 15px 5px;

      @media(max-width:11199px) {
        padding: 10px 5px;
      }


      @media(max-width:1024px) {
        font-size: 14px;
        min-width: 115px;
      }

      &:first-child {
        text-align: left;
        min-width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          margin-left: 3px;
          font-size: 15px;
        }

        img {
          margin: unset;
        }
      }

      &:nth-child(2) {
        min-width: 50px;

        @media(max-width:1024px) {
          min-width: 115px;
        }
      }

      img {
        max-width: 20px;
        height: auto;
        margin: 0 auto;
      }

      p {
        margin-bottom: 10px;
      }
    }


  }


  a.btn {
    background-color: $color-primary;
    color: #FFFFFF;
    font-size: 14px;
    padding: 4px 11px;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s linear;

    @media(max-width:1199px) {
      font-size: 10px;
      padding: 4px 8px;
    }

    &:hover {
      background-color: $color-hover;
      border: 1px solid $color-hover;
      box-shadow: 0 0 30px rgba(106, 82, 140, 0.7);
    }
  }


}



// style for tooltip
.tooltip-inner {
  background-color: #C1300D;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 25px;
  font-size: 12px !important;
  box-shadow: 0 3px 6px #00000016;
  margin-bottom: 3px;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #C1300D !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-right-color: #C1300D !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-right-color: #C1300D !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-right-color: #C1300D !important;
}



// tabela end





// common
.images-repeater-sesion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;

  a.img-content {
    position: relative;
    z-index: 1;
    width: calc(33.33% - 20px);
    height: 489px;
    margin-bottom: 30px;

    @media(max-width:1199px) {
      width: calc(33.33% - 15px);
    }

    @media(max-width:991px) {
      width: calc(50% - 8px);
      margin-bottom: 15px;
    }

    @media(max-width:576px) {
      width: 100%;
    }



    &:nth-child(3n+2) {
      margin-left: 30px;
      margin-right: 30px;

      @media(max-width:1199px) {
        margin-left: 15px;
        margin-right: 15px;
      }

      @media(max-width:991px) {
        margin-right: 0;
        margin-left: 0;
      }
    }




    &::after {
      content: '';
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      // border: 1px solid #FFFFFF;
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;

      @media(max-width:1199px) {
        top: 15px;
        left: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }


    &:last-child {
      margin-right: 0;
    }

    .overly {
      position: absolute;
      top: 20px;
      left: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      transform: translate(0, 0);
      transition: .3s linear;
      z-index: 1;

      span.line-1 {
        width: 0;
        height: 1px;
        background-color: #FFFFFF;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .6s linear;
      }

      span.line-2 {
        width: 1px;
        height: 0;
        background-color: #FFFFFF;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .6s linear;
      }

      span.line-3 {
        width: 0;
        height: 1px;
        background-color: #FFFFFF;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transition: .6s linear;
      }

      span.line-4 {
        width: 1px;
        height: 0;
        background-color: #FFFFFF;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transition: .6s linear;
      }
    }

    .text {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2;
      padding: 12px;
      transition: .6s ease-in;

      height: calc(100% - 40px);
      width: calc(100% - 40px);

      @media(max-width:1199px) {
        top: 15px;
        left: 15px;
        padding: 8px;
      }

      h3,
      h4 {
        color: #FFFFFF;
        transition: .2s linear;

      }

      h4 {
        font-size: 14px;
        margin-bottom: 3px;
        font-family: $quicksand;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 700;

        @media(max-width:1199px) {
          font-size: 20px;
        }

        @media(max-width:1080px) {
          font-size: 18px;
        }
      }

      span.btn {
        color: #ffffff;
        position: absolute;
        opacity: 0;
        transition: .2s linear;
        position: absolute;
        top: 50%;
        width: 50%;
        text-align: center;
        border: 1px solid #FFFFFF;
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 5px;
      }
    }

    &:hover {
      &:after {
        border: none;
      }

      .overly {
        // background-color: rgba(255, 255, 255, .5);

        span.line-1 {
          width: 100%;
        }

        span.line-2 {
          height: 100%;
        }

        span.line-3 {
          width: 100%;
        }

        span.line-4 {
          height: 100%;
        }
      }

      .text {

        h3,
        h4 {
          // color: $color-primary;
        }

        h3 {
          // color: #474747;
        }

        span.btn {
          display: block;
          opacity: 1;
        }
      }
    }

    &:nth-child(odd) {
      @media(max-width:991px) {
        margin-right: 15px;
      }

      @media(max-width:576px) {
        margin-right: 0;
      }
    }
  }

  &.sesion-offer {
    a.img-content {
      height: 289px;

      &:after {
        border: none;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      }


      .overly {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      }

      &:hover {
        .overly {
          background-color: transparent;
        }

        .text span.btn {
          opacity: 0;
        }
      }

      .text {
        position: absolute;
        top: unset;
        bottom: 12px;
        left: unset;
        right: 20px;
        z-index: 2;
        padding: 0;
        transition: .6s ease-in;
        height: auto;
        text-align: right;

        span.btn {
          width: 0;
          height: 0;
          position: unset;
          display: none;
        }
      }
    }

    .btn-right {
      justify-content: center;

      a.btn {
        min-width: 515px;

        @media(max-width: 576px) {
          min-width: auto;
        }
      }
    }
  }

}




// oferta- strona kategorii

#offer {
  .hero {
    height: 75vh;
  }

  .bg-slide {
    align-items: flex-end;

    .text-wrapper-hero {
      margin-top: 0;

      @media(max-width:991px) {
        margin-bottom: 15px;
      }
    }

    .scroll-down {
      bottom: 17px;
    }

    div#breadcrumbs {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 50px;
      font-size: 14px;
      color: #FFFFFF;

      @media(max-width:767px) {
        justify-content: center;
      }

      @media(max-width:576px) {
        font-size: 12px;
      }

      a {
        color: #FFFFFF;
        transition: .2s linear;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}



// contact form

.form-control {
  margin-bottom: 1rem;
  min-height: 30px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 0;
  padding: 5px 20px 5px 10px;
  font-size: 14px;
}

.wpcf7 form .wpcf7-response-output {
  border: 1px solid #00a0d2;
  border-radius: 25px;
}

input,
select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

span.wpcf7-form-control-wrap.menu-146 {
  position: relative;
  display: block;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 4px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid $default-color;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    pointer-events: none;
  }

}

.wpcf7-list-item {
  margin: 0;
}

input.rodo {
  width: 12px;
  height: 12px;
  border: 1px solid $default-color;
  transition: .2s linear;

  &.active {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    box-shadow: 0 0 15px rgba(207, 106, 107, .6);
  }
}



// header custom start
header {
  position: fixed;
  width: 100%;
  z-index: 9;

  .navbar-toggler {
    padding-right: 0;
  }

  .navbar-hamburger {
    display: none;
    margin-top: -20px;

    @media(max-width:991px) {
      display: block;

    }
  }


  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    transition: .2s linear;
    z-index: 999;
    height: 62px;


    @media(max-width:991px) {
      background-color: #FFFFFF;
      padding-top: 0;
    }




    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -7px;

      .navbar-logo {

        @media(max-width: 991px) {
          margin-top: 14px;
        }
      }

      .navbar-brand {
        margin-right: 30px;
        padding: 0;

        img.logo_header {
          width: 188px;
          max-width: 100%;
          height: auto;

          @media(max-width: 991px) {
            display: none !important;
          }

          @media(max-width: 576px) {
            width: 150px;
          }
        }

        img.logo-scroll {
          display: none;
          width: 188px;
          max-width: 100%;
          height: auto;
          margin-top: 7px;

          @media(max-width: 991px) {
            margin-top: 0;
          }


          @media(max-width: 991px) {
            display: block;
          }

          @media(max-width: 576px) {
            width: 150px;
          }
        }

      }

      .navbar-data {
        li.nav-item {
          margin-right: 36px;
          position: relative;
          margin-bottom: 0;

          @media(max-width:1199px) {
            margin-right: 20px;
          }

          @media(max-width:991px) {
            margin-right: 0;
            padding: 0;
          }

          a.nav-link {
            color: #FFFFFF;
            font-size: 14px;
            font-family: $quicksand;
            padding: 6px 0;
            text-transform: uppercase;

            @media(max-width:1199px) {
              font-size: 13px;
            }

            @media(max-width:991px) {
              text-align: center;
              padding: 15px;
              font-size: 30px;
              color: $default-color;
            }

            @media(max-width:991px) {
              font-size: 20px;
              padding: 10px;
            }

            &:hover {
              color: $color-primary;
            }
          }

          &:last-child {
            margin-right: 0;

            a.nav-link {
              padding: 6px 28px;
              border: 1px solid $color-primary;
              color: #FFFFFF;
              border-radius: 25px;
              transition: .2s linear;
              font-size: 14px;
              text-transform: lowercase;
              font-weight: 700;
              font-family: $poppins;
              background-color: $color-primary;
              text-align: center;

              @media(max-width:1199px) {
                font-size: 13px;
                padding: 6px 20px;
              }

              &:hover {
                background-color: $color-hover;
                border: 1px solid $color-hover;
                box-shadow: 0 0 30px rgba(106, 82, 140, 0.7);
              }
            }

            &:after {
              display: none;
            }
          }

          &:after {
            content: '';
            height: 15px;
            width: 1px;
            background-color: #FFFFFF;
            position: absolute;
            right: -18px;
            top: 50%;
            transform: translateY(-50%);

            @media(max-width:1199px) {
              right: -10px;
            }

            @media(max-width:991px) {
              display: none;
            }
          }

          &.active {
            a.nav-link {
              color: $color-primary;
            }
          }
        }
      }
    }






    &.navbar-scroll {
      background-color: #FFFFFF;
      border-bottom: 1px solid rgba(93, 93, 93, 0.192);
      padding: 0;

      @media(max-width:991px) {
        border: none;
        height: 60px;
      }

      // .header-content {
      //   margin-top: -7px;
      // }

      .navbar-brand {

        img.logo_header {
          display: none;

          @media(max-width: 991px) {
            display: none;
          }

        }

        img.logo-scroll {
          display: block;
        }
      }

      .navbar-data {
        li.nav-item {
          a.nav-link {
            color: $default-color;
          }
        }

      }

    }

  }






  .navbar-collapse {
    flex-grow: 0;
  }

  .menu-mobile {
    height: 0vh;
    // opacity: 0;
    background-color: $color-primary;
    transition: .3s linear;

    .menu-img {
      z-index: 0;

      img {
        position: absolute;
        bottom: 0px;
        right: 0px;
        opacity: .5;
        z-index: 0;
      }
    }

    li {
      display: none;
    }

    #navbarNavDropdown-mobile {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0px, -50%);
      z-index: 999;

      .sub-menu {
        display: none;
      }

      .show {
        display: block !important;
      }

      #menu-menu-header-1 {
        top: 50%;
        transform: translate(0, 50%);
      }

      li {
        width: 100%;
        text-align: center;

        a {
          color: #ffffff;
          font-weight: 600;
          font-size: 2.5vh;
          text-decoration: none;
          padding: 15px 0px;
          display: block;
          transition: 0.3s;

          &:hover {
            text-decoration: none;
            color: $color-hover;
          }
        }

        ul {
          list-style: none;
          padding-left: 0px;

          li {
            a {
              font-size: 1.5vh;
              font-weight: 400;
            }
          }

          li:last-child {
            background-color: unset;
            border: unset;

            a {
              color: black;
            }
          }
        }
      }
    }
  }

  .showup {
    // opacity: 1;
    height: 100vh;

    li {
      display: block;
    }
  }
}

// Header na mobilnym
@media (max-width: 991px) {
  header {
    #navbarNavDropdown {
      display: none;
    }

    nav {
      .right-side {
        display: block;

        button {
          margin-left: auto;
          margin-top: -34px;

          .animated-icon1 {
            span {
              background-color: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 792px) {
  header {
    p {
      display: flex;
      flex-flow: column;
    }

    nav .navigation {
      display: flex;
    }

    nav .right-side {
      padding-top: 29px;
    }

    nav .right-side .desktop {
      display: none;
    }

    nav .right-side button {
      margin-top: -26px !important;
    }
  }

  .main-logo {
    margin-top: 10px;
    //width: 140px;
  }
}

// end header custom